/* You can add global styles to this file, and also import other style files */

html{
    font-size: calc(0.68vh + 0.68vw);
    font-family: 'Roboto';
    font-weight: 'regular';
    margin: 0;
    height: 100%;
  
  }